.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2em;
    width: 50%;
    margin: 0 auto;
}

.post {
    display: flex;
    font-size: large;
    flex-direction: column;
    text-align: left;
    padding-top: 2em;
    padding-left: 22em;
    padding-right: 22em;
    padding-bottom: 2em;
}