.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2em;
    width: 50%;
    margin: 0 auto;
}

.post {
    display: flex;
    font-size: large;
    flex-direction: column;
    text-align: left;
    padding-top: 2em;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 2em;
}

.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2em;
    width: 20%;
    min-width: 100px;
    margin: 0 auto;
}